/* PRIMARY */
$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet:hsla(277, 91%, 27%, 0.596);
$soft-violet-key:hsl(277, 64%, 61%);
/*SECONDARY*/
$white: hsl(0, 0%, 100%);
$slightly-transparent-white-m-p: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-s-h: hsla(0, 0%, 100%, 0.6);
$link-color: hsl(228, 45%, 44%);
/*FONT-SIZE*/
$font-size-global: 15px;
/*FONT-FAMILIES*/
$font-family-inter: 'Inter', sans-serif;
$font-family-lexend-deca: 'Lexend Deca', sans-serif;
/*FONT-WEIGHT*/
$font-weigth-inter-400: 400;
$font-weigth-inter-700: 700;
$font-weigth-lexend-deca-400: 400;